<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
<!--  <listener>-->
<!--    <listener-class>com.dx.listener.Listener1</listener-class>-->
<!--  </listener>-->
<!--  <context-param>-->
<!--    <param-name>ppp</param-name>-->
<!--    <param-value>www</param-value>-->
<!--  </context-param>-->
<!--  <servlet>-->
<!--    <servlet-name>Servlet1</servlet-name>-->
<!--    <servlet-class>com.dx.servlet.Servlet1</servlet-class>-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>Servlet1</servlet-name>-->
<!--    <url-pattern>/Servlet1</url-pattern>-->
<!--  </servlet-mapping>-->


<!--  <servlet>-->
<!--    <servlet-name>Servlet2</servlet-name>-->
<!--    <servlet-class>com.dx.servlet.Servlet2</servlet-class>-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>Servlet2</servlet-name>-->
<!--    <url-pattern>/Servlet2</url-pattern>-->
<!--  </servlet-mapping>-->


<!--  <servlet>-->
<!--    <servlet-name>Servlet3</servlet-name>-->
<!--    <servlet-class>com.dx.servlet.Servlet3</servlet-class>-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>Servlet3</servlet-name>-->
<!--    <url-pattern>/Servlet3</url-pattern>-->
<!--  </servlet-mapping>-->

<!--  <servlet>-->
<!--    <servlet-name>Servlet4</servlet-name>-->
<!--    <servlet-class>com.dx.servlet.Servlet4</servlet-class>-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>Servlet4</servlet-name>-->
<!--    <url-pattern>/Servlet4</url-pattern>-->
<!--  </servlet-mapping>-->


<!--  <servlet>-->
<!--    <servlet-name>Servlet5</servlet-name>-->
<!--    <servlet-class>com.dx.servlet.Servlet5</servlet-class>-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>Servlet5</servlet-name>-->
<!--    <url-pattern>/Servlet5</url-pattern>-->
<!--  </servlet-mapping>-->


<!--  <servlet>-->
<!--    <servlet-name>DemoServlet1</servlet-name>-->
<!--    <servlet-class>com.dx.cookie.DemoServlet1</servlet-class>-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>DemoServlet1</servlet-name>-->
<!--    <url-pattern>/DemoServlet1</url-pattern>-->
<!--  </servlet-mapping>-->
<!--  <servlet>-->
<!--    <servlet-name>DemoServlet2</servlet-name>-->
<!--    <servlet-class>com.dx.cookie.DemoServlet2</servlet-class>-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>DemoServlet2</servlet-name>-->
<!--    <url-pattern>/DemoServlet2</url-pattern>-->
<!--  </servlet-mapping>-->

<!--  <servlet>-->
<!--    <servlet-name>UploadServlet1</servlet-name>-->
<!--    <servlet-class>com.dx.upload.UploadServlet1</servlet-class>-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>UploadServlet1</servlet-name>-->
<!--    <url-pattern>/UploadServlet1</url-pattern>-->
<!--  </servlet-mapping>-->

<!--  <servlet>-->
<!--    <servlet-name>DownloadServlet</servlet-name>-->
<!--    <servlet-class>com.dx.download.DownloadServlet</servlet-class>-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>DownloadServlet</servlet-name>-->
<!--    <url-pattern>/DownloadServlet</url-pattern>-->
<!--  </servlet-mapping>-->

<!--  <filter>-->
<!--    <filter-name>Filter1</filter-name>-->
<!--    <filter-class>com.dx.filter.Filter1</filter-class>-->
<!--    <init-param>-->
<!--      <param-name>p1</param-name>-->
<!--      <param-value>v1</param-value>-->
<!--    </init-param>-->
<!--  </filter>-->
<!--  <filter-mapping>-->
<!--    <filter-name>Filter1</filter-name>-->
<!--    <url-pattern>/Servlet1</url-pattern>-->
<!--  </filter-mapping>-->
<!--  <error-page>-->
<!--    <error-code>404</error-code>-->
<!--    <location>/Servlet1</location>-->
<!--  </error-page>-->
</web-app>
